---
layout: page
description: "种一棵树最好的机会是在十年前，第二就是现在。"
---

{% for page in paginator.posts %}
<div class="post-preview">
    {% if page.istalk==true %}
        <div class="post-content-preview talk-container">
            {{ page.content }}
        </div>
    <p class="post-meta"><span>Talked</span> on {{ page.date | date: "%Y-%m-%d %H:%M" }}</p>
    {% endif %}
    {% if page.istalk==false %}
    <a href="{{ page.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ page.title }}
        </h2>
        <div class="post-content-preview">
            {{ page.description }}
        </div>
    </a>
    <p class="post-meta"><span>Posted</span> on {{ page.date | date: "%Y-%m-%d" }}</p>
    {% endif %}
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
